html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#analysis {
  position: absolute;
  top: 305px;
  left: 10px;
  width: 120px;
  z-index: 500;
  background: white;
  color: black;
  padding: 6px;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
#export {
  position: absolute;
  top: 270px;
  left: 10px;
  width: 120px;
  z-index: 500;
  background: white;
  color: black;
  padding: 6px;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
#time-ranges {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 1em;
  background: white;
}
#time-ranges input {
  display: inline-block;
  border: 1px solid #999;
  font-size: 14px;
  border-radius: 4px;
  height: 28px;
  line-height: 28px;
}
#time-ranges input[type="submit"] {
  box-sizing: content-box;
  padding: 0 1em;
  text-transform: uppercase;
  color: white;
  background: #5c7db8;
  border-color: #5c7db8;
}
